<!DOCTYPE html>
<html lang="rus">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100;1,300;1,400&display=swap"
        rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/signIn.css">
    <title>SignIn</title>
</head>

<body>
    <div class="all">
        
            <div class="formBx">
                <img src="/public/images/fabula.png" width="400px"alt="">
                <form class="form" action="/signIn" method="post">
                   
                    <div class="inputdiv">
                        <p class="text">Логин</p>
                        <input class="input" type="email" name="email" placeholder="E-mail">
                    </div>
                    <div class="inputdiv">
                        <p class="text">Пароль</p>
                        <input class="input" type="password" name="password" placeholder="Введите пароль">
                    </div>
                    <div class="remember">
                        <label><input id="check" type="checkbox"><p>Запомнить меня</p></label>
                    </div>
                    <button onclick="document.location='#'" class="signbtn" type="submit">Войти</button>
                    <div class="no-account">
                        <p>Нет аккаунта?</p>
                        <a href="signUp">Регистрация</a>
                    </div>
                </form>
            </div>    
        
    </div>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
    <script src="/public/js/fdb_config.js" id="MainScript"></script>
</body>

</html>