*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:#d5dcf4;
    font-family: 'Roboto', sans-serif;
}
.main{
    padding: 50px;
}
.counter_block{
    display: flex;
    justify-content: start;
    font-size: 20px;
}
.counter{
    margin-right: 20px;
}
.div_categories{
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    
    appearance: none;
       
    background-color: transparent;
    border: none;
   
    outline: invert;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
      
}

#categories{
    width: 300px;
}