*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    background-image: url("https://img.freepik.com/free-photo/white-simple-textured-design-background_53876-106174.jpg?w=996&t=st=1667990197~exp=1667990797~hmac=46c95dd563b84522ba91b03a216af49d5ea6f07871f02bfa9a57179842c736e9");

    font-family: 'Roboto', sans-serif;
}
#navbar{
    font-size: 1.5rem;
}
.nav-item{
    margin-left: 2rem;
}
.navbar-nav{
display: flex;
align-items: center ;
}

#edit_div{
    margin: 15rem;
}
#editBtn{
    color: white;
    text-decoration: none;
}