*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
  
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


#navbar{
    font-size: 1.5rem;
}
.nav-item{
    margin-left: 2rem;
}
.navbar-nav{
display: flex;
align-items: center ;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-self: center;
}
.div_categories{
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    
    appearance: none;
       
    background-color: transparent;
    border: none;
   
    outline: invert;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
      
}

#categories{
    width: 300px;
}

.stories{
    margin-bottom: 5px;
}
.story{
    margin-top: 5rem;
    margin-bottom: 2rem;
    padding: auto;
    border-radius: 20px;
    
}
.story_title{
    text-align: start;
    font-size: 4rem;
    color: white;
    padding-top: 2rem;
    margin-left: 3rem;
}
.story_content{
    font-size: 2rem;
    text-align: center;
    color: white;
}
.story_author{
    font-size: 1rem;
    text-align: center;
    padding-bottom: 2rem;
}
#line{
    margin: -30px auto 10px;
	padding: 0;
	height: 50px;
	border: none;
	border-bottom: 1px solid #1f1209;
	box-shadow: 0 20px 20px -20px #333;
	width: 95%;
}
.addBtn{
    width: 200px;
    margin: 0 auto;
}