*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    background-image: url("https://img.freepik.com/free-photo/white-simple-textured-design-background_53876-106174.jpg?w=996&t=st=1667990197~exp=1667990797~hmac=46c95dd563b84522ba91b03a216af49d5ea6f07871f02bfa9a57179842c736e9");

    font-family: 'Roboto', sans-serif;
}
#navbar{
    font-size: 1.5rem;
}
.nav-item{
    margin-left: 2rem;
}
.navbar-nav{
display: flex;
align-items: center ;
}
#main_section{
    display: flex;
}
.card{
    margin: 5rem;
    width: 300px;
}
.myStories_p{
    margin-left: 5rem;
}
.my_stories{
    width: 60rem;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    flex-direction: column;
}
.stories{
    margin-bottom: 5px;
}
.story{
    margin-top: 5rem;
    margin-bottom: 2rem;
    
    border-radius: 20px;
    
}
.story_title{
    text-align: center;
    font-size: 4rem;
    color: white;
    padding-top: 2rem;
}
.story_content{
    font-size: 2rem;
    text-align: center;
    color: white;
}
.story_author{
    font-size: 1rem;
    text-align: center;
    padding-bottom: 2rem;
}
#line{
    margin: -30px auto 10px;
	padding: 0;
	height: 50px;
	border: none;
	border-bottom: 1px solid #1f1209;
	box-shadow: 0 20px 20px -20px #333;
	width: 95%;
}
#editBtn{
    margin-bottom: 1rem;
}

.delete {
    display: flex;
    
    margin-left: 1rem;
    margin-top: 1rem;
  }
  
  .delete button {
    border: none;
    outline: none;
    background-color: #58bae4;
  }
  
  .delete a {
    color: #ffffff;
    text-decoration: none;
    font-size: 30px;
  }
  
  .delete a:hover {
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  }