*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    background:#d5dcf4;
    font-family: 'Roboto', sans-serif;
}
.card{
    margin: 5rem;
}
.myStories_p{
    margin-left: 5rem;
}
.my_stories{
    margin-left: 5rem;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    flex-direction: column;
}
.stories{
    margin-bottom: 5px;
}
.story{
    margin-top: 5rem;
    margin-bottom: 2rem;
    
}
.story_title{
    margin-top: 2rem;
    text-align: center;
    font-size: 4rem;
    color: white;
}
.story_content{
    font-size: 2rem;
    text-align: center;
    color: white;
}
.story_author{
    font-size: 1rem;
    text-align: center;
}
#editBtn{
    margin-bottom: 1rem;
}
